# Files listed with "export-ignore" will not be archived with the git archive command.
# Use this to create a clean copy of the mod suitable for upload to NexusMods or for extracting
# and uploading to Steam Workshop.
# Command:
#    git archive --format zip -o /path/to/outfile.zip branchname_to_archive
# e.g.
#    git archive --format zip -o C:\Users\Username\VIPTracker_1.0.0.zip master
Images export-ignore
UI/*.xcf export-ignore
README.md export-ignore
.gitattributes export-ignore